:root {
	--bg: #0f172a;
	--card: #020617;
	--primary: #38bdf8;
	--text: #e5e7eb;
	--border: #1e293b;

	--btn-hover: #0ea5e9;

	--border-radius: 12px;
	--border-radius-lg: 16px;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

	align-items: center;
	height: 100vh;

	color: var(--text);
}

h1 {
	margin: 40px 0 40px 0;

	i {
		color: inherit
	}
}

button {
	padding: 10px;
	background-color: var(--primary);
	border: none;
	border-radius: var(--border-radius);
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: var(--btn-hover);
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 40px 20px;

	width: 40%;

	background-color: var(--card);
	border: 1px solid var(--border);
	border-radius: var(--border-radius-lg);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	h2 {
		color: var(--primary);
		margin: 0;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 80%;

		input {
			padding: 10px;
			border: 1px solid var(--border);
			border-radius: var(--border-radius);
			font-size: 16px;
			display: flex;
			gap: 5px;

			border: 1px solid var(--border);
			background: var(--bg);
			color: var(--text);
		}


		input[type="file"]::-webkit-file-upload-button {
			background: var(--primary);
			border: none;
			padding: 6px 8px;
			border-radius: 8px;
			cursor: pointer;
			margin-right: 8px;
		}

		input[type="file"]::-webkit-file-upload-button:hover {
			background: var(--btn-hover);
		}
	}

	#qrcode {
		display: flex;

		flex-direction: column;
		align-items: center;
		gap: 22px;
	}

	@media (max-width: 768px) {
		width: 80%;
	}
}


footer {
	margin-top: auto;
	padding: 20px 10px;
	text-align: center;
	font-size: 14px;
	color: var(--text);
	background: var(--card);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	border-top: 1px solid #8080801a;
	width: 100%;
	box-sizing: border-box;

	p {
		margin: 0;
		display: flex;
		align-items: center;
		gap: 6px;
	}

	a {
		color: var(--primary);
		text-decoration: none;
		font-weight: 500;
		transition: all 0.3s ease;
		position: relative;

		&:hover {
			opacity: 0.8;
		}
	}

	.avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid var(--primary);
		transition: transform 0.3s ease, box-shadow 0.3s ease;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

		&:hover {
			transform: scale(1.1) rotate(5deg);
			box-shadow: 0 4px 12px #00000026;
		}
	}
}
